<!-- <h1>{{newPerformer.Albums}}</h1> -->
<form class="" method="post">
    <div class="form-group">
        <label  for="newAlbumName">Add New Album</label>
        <input  class="form-control"
                type="text"
                name="newAlbumName"
                value=""
                ng-model="newPerformer.name"
                placeholder="Album Name">

        <label  for="yearBegan">Date Founded</label>
        <input  class="form-control"
                type="text"
                name="yearBegan"
                value=""
                ng-model="newPerformer.yearBegan"
                placeholder="MM/DD/YYYY">

        <label  for="members">Band Members</label>
        <input  class="form-control"
                type="text"
                name="members"
                value=""
                ng-model="newPerformer.members"
                placeholder="members">

        <input  type="button"
                name="name"
                value="Submit"
                ng-click="newPerformer.newAlbum()"
                class="btn btn-primary">
    </div>
</form>
